# dify requirements
# Usage: pip install -r requirements.txt

# pip install langchain langchain-community langgraph -i https://mirrors.aliyun.com/pypi/simple/

# pip install "langserve[all]" -i https://mirrors.aliyun.com/pypi/simple/

# Base ------------------------------------------------------------------------

# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

